{% extends "wrapper.html" %}

{% block title %}
    Admin
{% endblock %}

{% block content %}
    <h1>Administration tool bar</h1>
    {% for solution in solutions %}
        <br>
        {{ solution.student.id }}-----{{ solution.task }}-----<a href="/status/{{ solution.id }}/ok">OK</a>---<a href="/status/{{ solution.id }}/wrong">WRONG</a>
        <br>Code:<br>{{ solution.code }}<br>
        -----------------------------------------------------------------------------------------------------------
    {% endfor %}
{% endblock %}